<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="static/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="static/css/bootstrap-icons.css">
	<script src="static/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <style>
    .mt-10 {
      margin-top: 10px;
    }
    .pl-pr-5 {
      padding-left: 5px;
      padding-right: 5px;
    }
    body {
      padding-bottom: 200px;
    }
    input{
      overflow-y: visible;
    }
  </style>
  <title>
    <%= title %>
  </title>
</head>

<body>
    <div class="container">
        <%- include("./partials/header.ejs") %>
        <div>
            <form method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">General Medicine Date</span>
                    <input type="date" class="form-control" id="genmeddate" name="genmedicinedate" value="<%= // %> " style="max-width: 150px;" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Medicine Quantity</span>
                    <input type="number" class="form-control" id="med" name="medquantity" value="" style="max-width: 130px;">
                    <select class="form-select" id="padfrac" name="padfraction" style="max-width: 90px;">
                        <option value="0" selected>0</option>
                        <option value="1/4">1/4</option>
                    </select>
                </div>
                <button type="submit" class="mt-10 btn btn-primary btn-lg"><svg xmlns="http://www.w3.org/2000/svg"
                        width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>Generate Amount
                </button>
            </form>
            <form method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Dressing Date</span>
                    <input type="date" class="form-control" id="dressdate" name="dressingdate" value="" style="max-width: 150px;" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Pad Quantity</span>
                    <input type="number" class="form-control" id="padqty" name="padquantity" value="" style="max-width: 130px;">
                    <select class="form-select" id="padfrac" name="padfraction" style="max-width: 90px;">
                        <option value="0" selected>0</option>
                        <option value="1/4">1/4</option>
                        <option value="1/2">1/2</option>
                        <option value="3/4">3/4</option>
                    </select>
                </div>
                <button type="submit" class="mt-10 btn btn-primary btn-lg"><svg xmlns="http://www.w3.org/2000/svg"
                        width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>Generate Amount
                </button>
                <div class="input-group mb-3" style="margin-top: 25px;">
                    <span class="input-group-text" id="basic-addon1">Total Amount : Rs.</span>
                    <input type="number" class="form-control" id="totalamt" name="totalamount" value="" style="max-width: 120px;" required>
                </div>
                <div class="input-group mb-3" style="margin-top: 10px;">
                    <span class="input-group-text" id="basic-addon1">Amount Paid : Rs.</span>
                    <input type="number" class="form-control" id="paidamt" name="amountpaid" style="max-width: 120px;" required>
                </div>
                <% //if(DiscountMode != "None") { %> 
                    <div class="input-group mb-3" style="margin-top: 10px;">
                        <span class="input-group-text" id="basic-addon1">Discount : Rs.</span>
                        <input type="number" class="form-control" id="discamt" name="discountamount" style="max-width: 120px;" required>
                    </div>
                <% //} %> 
                <button type="submit" name="id" value="<%= //PatientID %>" class="mt-10 btn btn-primary btn-lg"><svg xmlns="http://www.w3.org/2000/svg"
                    width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>Add Dressing Record
                </button>
            </form>
        </div>
    </div>
</body>
</html>