<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="PrinterName" value="PDF24" />
    <add key="LogoImagePath" value="C:\\Users\\Khizir Farrukh\\Desktop\\image.jpg" />
    <add key="PrintQRCode" value="false" />
  </appSettings>
</configuration>